* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Roboto;
}

#logo{
    position: relative;
    display: flex;
    justify-content: center;
    top: 10vh;
}

#image{
    width: 150px;
    height: 150px;
}

#pesquisa{
    position: absolute;
    display: flex;
    width: 70%;
    padding: 1.2vh 1vh;
    border-radius: 25px;
    border: 1px solid #000;
    background: rgba(111, 153, 110, 0.40);

    color: #000;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#icon{
    position: absolute;
    display: flex;

    top: 40%;
    left: 80%;
    transform: translate(-50%, -50%);


}

#containerPesquisa1{
    width: 148px;
    height: 158px;
    flex-shrink: 0;
    border-radius: 7px;
    background: #D9D9D9;

    position: absolute;
    top: 60%;
    left: 30%;
    transform: translate(-50%, -50%);
}

#containerPesquisa2{
    width: 148px;
    height: 158px;
    flex-shrink: 0;
    border-radius: 7px;
    background: #D9D9D9;

    position: absolute;
    top: 60%;
    left: 70%;
    transform: translate(-50%, -50%);
}

#book{
    position: relative;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
}

#tabela{
    position: relative;
    left: 79%;
    top: 35%;
    transform: translate(-50%, -50%);
}

#settings{
    position: relative;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
}

#configuracoes{
    position: relative;
    left: 55%;
    top: 30%;
    transform: translate(-50%, -50%);
}

h1{
    color: #474747;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
}

#footer{
    position: fixed;
    width: 100%;
    height: 60px;
    top: 94%;
    z-index: -1;
    background: #6F996E;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15%;
}

#square{
    position: fixed;
    width: 14%;
    height: 6.4%;
    left: 7.3%;
    
    z-index: -1;
    background: #476447;    
    
}