* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body{
    background: #72996F;
    font-family: Roboto;
  }

  #logo{
    position: relative;
    display: flex;
    justify-content: center;
    top: 15vh;
  }

  #image{
    width: 177.905px;
    height: 177.905px;
    flex-shrink: 0;
  }

  #container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 325px;
    padding: 10px;

    border-radius: 6px;
    background: #EBEBEB;   
  }

  #h1{
    width: 319px;
    color: #000;
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 20px;
    line-height: 20px; 
    opacity: 0.7;
  }

  #manual{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    transform: translate(-50%, -50%);
    width: 160px;
    height: 56px;
    padding: 15px 122px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 28px;
    background: var(--Branco, #FFF);
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.10), 0px 2px 4px 0px rgba(0, 0, 0, 0.10);
  }

  #voz{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    transform: translate(-50%, -50%);
    width: 160px;
    height: 56px;
    padding: 15px 122px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 28px;
    background: var(--Branco, #FFF);
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.10), 0px 2px 4px 0px rgba(0, 0, 0, 0.10);
  }