* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body{
    background: #72996F;
  }

  #logo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  #image{
    width: 177.905px;
    height: 177.905px;
    flex-shrink: 0;
  }

  #fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
  }

  #fullscreen:target {
    display: block;
  }